<%- include ("header.ejs") %>
<main>
    <div id="EditForm">
        <form action="" method="post">
            <label for="phaseNum">Phase Number: </label>
            <input type="number" name="phaseNum" id="phaseNum" value="<% item.phase_number %>"/>
            <br>
            <label for="phaseName">Phase Name: </label>
            <input type="text" name="phaseName" id="phaseName" value="<%= item.phase_name %>"/>
            <br>
            <label for="phaseDuration">Phase Duration: </label>
            <input type="number" name="phaseDuration" id="phaseDuration" min="2" value="<%= item.phase_duration %>"/>
            <br>
            <br>
            <button>SAVE</button>            
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>
